<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" routerLinkActive="active">
                        <h4 class="title">Les chambres</h4>
                        <a routerLink="/chambre/add">
                            <h4>
                                <i class="pe-7s-add-user"></i>
                                Ajouter une nouvelle chambre
                            </h4>
                        </a>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Numéro de chambre</th>
                                <th>Type de chambre</th>
                                <th>NomBloc</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let chambre of chambres">
                            <tr>
                                <td>{{ chambre.numeroChambre }}</td>
                                <td>{{ chambre.typeC }}</td>
                                <td>{{ chambre.bloc?.nomBloc }}</td>
                                <td>
                                    <div class="center">
                                        <button type="submit" class="btn btn-success" [routerLink]="'/update/' + chambre.idChambre">Modifier</button>
                                        <button type="submit" (click)=" deleteChambre(chambre.idChambre)" class="btn btn-danger">Supprimer</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


